.header {
  padding: 10px;
  background-color: #222;
  margin-bottom: 20px;
}

.header__name {
  border: none;
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 2em;
  text-align: center;
  background-color: #222;
  cursor: pointer;
  outline: none;
}

.main {
  width: 80%;
  margin: 0 auto;
}

.main__error {
  color: #e74c3c;
  margin-bottom: 10px;
  text-align: left;
}

.courses {
  min-width: 300px;
  max-width: 700px;
  text-align: left;
  margin-bottom: 10px;
}

.calendar {
  width: 100%;
  position: relative;
}

.calendar__outline,
.calendar__slots {
  top: 0;
  left: 0;
  position: absolute;
}

.calendar__outline__table {
  border-collapse: collapse;
}

.calendar__outline__table__cell {
  height: 40px;
  box-sizing: border-box;
  padding: 0;
}

.calendar__outline__table__cell--border {
  border: 1px solid #D3D3D3;
}

.calendar__outline__table__cell__hour {
  font-size: 0.8em;
  width: 45px;
  text-align: right;
  margin-top: -26px;
  position: relative;
  padding: 0;
  padding-right: 5px;
  color: #A0A0A0;
  box-sizing: border-box;
}

.calendar__slot {
  font-size: 0.8em;
  overflow: hidden;
  text-align: left;
  position: absolute;
  border-left: 3px solid;
  box-sizing: border-box;
  text-overflow: ellipsis;
}
